<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="df_database_docker" connectionString="Data Source=abel_;Initial Catalog=corralondb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="default_db" connectionString="Data Source=localhost\\SQLEXPRESS;Initial Catalog=corralondb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.corralondbConnectionString"
            connectionString="Data Source=abel_;Initial Catalog=corralondb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.corralondbConnectionString1"
            connectionString="Data Source=BOOK-73PSF310VO\SQLEXPRESS;Initial Catalog=corralondb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>