<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!-- Conexión al contenedor Docker -->
        <add name="df_database_docker"
            connectionString="Data Source=abel_;Initial Catalog=corralondb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
      <!-- Conexión a SQL Server Express local -->
      <add name="default_db"
           connectionString="Data Source=localhost\\SQLEXPRESS;Initial Catalog=corralondb;Integrated Security=True;TrustServerCertificate=True"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>